{#
/**
 * @file
 * My Location Custom block.
 */
#}
<div class="col-sm-3 my-location--block">
  <h1>{{ title }}</h1>
  <p>Site Location: {{ data.city }} , {{ data.country }}</p>
  <p>Site Time: {{ data.localtime }}</p>
</div>
